APP_NAME=Blue Havana Real Estate API
APP_ENV=production
PORT=4000

JWT_SECRET=CAMBIA_ESTA_CLAVE_POR_UNA_DE_32_CARACTERES_O_MAS
ACCESS_TOKEN_EXPIRE_MINUTES=120

SUPABASE_URL=https://TU-PROYECTO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=TU_SERVICE_ROLE_KEY_SOLO_BACKEND
SUPABASE_STORAGE_BUCKET=property-images
SUPABASE_BLOG_STORAGE_BUCKET=blog-images

ADMIN_EMAIL=admin@tudominio.com
ADMIN_USERNAME=superadmin
ADMIN_PASSWORD=CAMBIA_ESTA_CONTRASENA
ADMIN_FULL_NAME=Super Admin

CORS_ORIGINS=http://localhost:4200,http://127.0.0.1:4200,https://bluehavanare.csunol73.workers.dev
